{% extends path_user_template ~ '/home.twig' %}

{% block title %}
    {{ page_title | default('ArtWebCms :: Signup') }}
{% endblock %}

{% block headtags %}
    <link href="{{ path_url }}/vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>

    <script src="{{ path_url }}{{ user_var.project_static }}/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{{ path_url }}/vendor/components/jqueryui/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#errors").hide();

            var maxYear = new Date('Y');

            $('#birthdate').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:'+ maxYear,
                minDate: "-100y",
                maxDate: "+0y",
                showAnim: "slideDown"
            });
        });
    </script>
{% endblock %}

{% block contentbody %}
    {{ parent() }}

    <form class="pure-form pure-form-aligned" id="signupform" method="post" action="{{ path_url_postfix }}/login">
        <fieldset>
            <legend>{{ legend|default('Enter information to signup.') }}</legend>
            <div class="pure-control-group">
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="Name" name="name" />
            </div>

            <div class="pure-control-group">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email" name="email" />
            </div>

            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password" name="password" />
            </div>

            <div class="pure-control-group">
                <label for="rpass">Re-type Password</label>
                <input id="rpass" type="password" placeholder="Re-type Password" name="rpass" />
            </div>

            <div class="pure-control-group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>

            <div class="pure-control-group">
                <label for="birthdate">Birthdate</label>
                <input id="birthdate" type="text" placeholder="Birthdate" name="birthdate" />
            </div>

            <div class="pure-control-group">
                <label for="g-recaptcha" style="float: left;">Captcha</label>
                <div class="g-recaptcha" data-sitekey="6LfsqBATAAAAAPt_BXPWzWmlP0f22ydpdL_7iOsb" style="float: left; margin: 5px; "></div>
                <input id="hiddenRecaptcha" type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" />
            </div>

            <div class="pure-controls">
                <label for="agree" class="pure-checkbox" id="agree-label" style="display: block;  clear: both;">
                    <input id="agree" type="checkbox" name="agree" value="1"> I've read the <a href='{{ path_url_postfix }}/a/terms'>terms and conditions</a>
                </label>

                <input type="submit" class="pure-button pure-button-primary" name="submit" value="Signup" style="display: block; clear: both; margin-top: 5px; " />
            </div>
        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#signupform").validate({
                ignore: ".ignore",
                groups: {
                    agree: "agree"
                },
                errorPlacement: function(error, element) {
                    if (element.attr("name") == "agree") {
                        error.insertAfter("#agree-label");
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules:{
                    name:{ required: true , maxlength: 100 },
                    email:{ required: true, email: true , maxlength: 50},
                    password:{ required: true, maxlength: 20},
                    rpass:{ required: true, maxlength: 20, equalTo: "#password" },
                    gender:{ required: true },
                    birthdate:{ required: true },
                    agree: { required: true },
                    "hiddenRecaptcha": {
                        required: function() {
                            if(grecaptcha.getResponse() == '') {
                                return true;
                            } else {
                                return false;
                            }
                        }
                    }
                },
                messages:{
                    name: {
                        required: "Enter full name.",
                        maxlength: "Name can't be longer than 100 characters."
                    },
                    email: {
                        required: "Enter valid email.",
                        email: "Please enter a valid email.",
                        maxlength: "Email can't be longer than 50 characters."
                    },
                    password: {
                        required: "Password minimum 5 characters.",
                        maxlength: "Password can't be longer than 20 characters."
                    },
                    rpass: {
                        required: "Enter password again.",
                        equalTo: "Password don't match."
                    },
                    gender: "Please select gender.",
                    birthdate: {
                        required: "Select birth date."
                    },
                    agree: "Accept terms and conditions.",
                    "hiddenRecaptcha": "The captcha was not validated."
                }
            });
        });
    </script>
{% endblock %}
