<div id="banner">
    <img src="{{ path_static }}images/logo.gif" id="logo"/>

    <div id="navigatemenu">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="{{ path_url_postfix }}/" class="pure-menu-link">Home</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{{ path_url_postfix }}/" class="pure-menu-link">About</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="topright">
        {% if is_login %}
            <a href="{{ path_url_postfix }}/logout">Logout</a>
            |
            <a href="{{ path_url_postfix }}/uhome">Member Home</a>
        {% else %}
            <a href="{{ path_url_postfix }}/login">Login</a>
            |
            <a href="{{ path_url_postfix }}/signup">Signup</a>
        {% endif %}
    </div>
</div>
