{% extends path_user_template ~ '/home.twig' %}

{% block title %}
    {{ page_title|default('List of Users') }}
{% endblock %}

{% block headtags %}
    <script src="{{ path_url }}{{ user_var.project_static }}/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{{ path_url }}{{ user_var.project_static }}/jquery.dataTables.min.js" type="text/javascript"></script>
    <link href="{{ path_url }}{{ user_var.project_static }}/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript">
        $(document).ready(function(){
            if($("#errors").html() == '') {
                $("#errors").hide();
            }

            $('#sortedtable').dataTable({
                "sPaginationType": "full_numbers",
                "aLengthMenu": [[25, 50, -1], [25, 50, "All"]],
                "iDisplayLength": 25
            });
        });
    </script>
{% endblock %}

{% block contentbody %}
    {{ parent() }}
    {{ body_content }}

    {% if session.get('user_info').utype == 1 %}

        <form class="pure-form pure-form-aligned" id="signupform" method="post" action="{{ path_url_postfix }}/user/list">
            <fieldset>
                {% if action == "edit" %}
                    <legend>Edit User</legend>
                    <input type="hidden" value="{{ update_user.id }}" name="editval" />
                {% else %}
                    <legend>Add New User</legend>
                {% endif %}
                <div class="pure-control-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Name" value="{{ update_user.firstname }}" name="name" />
                </div>

                <div class="pure-control-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" placeholder="Email" value="{{ update_user.email }}" name="email" />
                </div>

                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Password" value="{{ update_user.pass }}" name="password" />
                </div>

                <div class="pure-control-group">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender">
                        <option {% if update_user.gender == "m" or update_user.gender == "M" %}selected{% endif %} value="M">Male</option>
                        <option {% if update_user.gender == "f" or update_user.gender == "F" %}selected{% endif %} value="F">Female</option>
                    </select>
                </div>

                <div class="pure-controls">
                    <input type="submit" class="pure-button pure-button-primary" name="submit" value="{% if action == "edit" %}Edit User{% else  %}Add User{% endif %}" style="display: block; clear: both; margin-top: 5px; " />
                </div>
            </fieldset>
        </form>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#signupform").validate({
                    rules:{
                        name:{ required: true , maxlength: 100 },
                        email:{ required: true, email: true , maxlength: 50},
                        password:{ required: true, maxlength: 20},
                        gender:{ required: true }
                    },
                    messages:{
                        name: {
                            required: "Enter full name.",
                            maxlength: "Name can't be longer than 100 characters."
                        },
                        email: {
                            required: "Enter valid email.",
                            email: "Please enter a valid email.",
                            maxlength: "Email can't be longer than 50 characters."
                        },
                        password: {
                            required: "Password minimum 5 characters.",
                            maxlength: "Password can't be longer than 20 characters."
                        },
                        gender: "Please select gender."
                    }
                });
            });
        </script>

        {% if users %}
            <table class="pure-table-horizontal" id="sortedtable" style="width: 100%">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Email</td>
                    <td>First Name</td>
                    <td>Gender</td>
                    <td>Status</td>
                    <td>Type</td>
                    <td style="width: 100px;">Inserted</td>
                    <td style="width: 100px;">Updated</td>
                    <td style="width: 100px;">Last Login</td>
                    <td style="width: 100px;">Edit</td>
                    <td style="width: 100px;">Change Status</td>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td>ID</td>
                    <td>Email</td>
                    <td>First Name</td>
                    <td>Gender</td>
                    <td>Status</td>
                    <td>Type</td>
                    <td>Inserted</td>
                    <td>Updated</td>
                    <td>Last Login</td>
                    <td>Edit</td>
                    <td>Change Status</td>
                </tr>
                </tfoot>
                <tbody>
                {% for a in users %}
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.email }}</td>
                        <td>{{ a.firstname }}</td>
                        <td>{{ a.gender|upper  }}</td>
                        <td>{% if a.ustatus == 1 %}Active{% else %}Inactive{% endif %}</td>
                        <td>{% if a.utype == 1 %}Admin{% else %}Normal{% endif %}</td>
                        <td>{{ a.date_inserted }}</td>
                        <td>{{ a.date_updated }}</td>
                        <td>{{ a.date_lastlogin }}</td>
                        <td><a class="pure-button pure-button-primary" href="{{ path_url_postfix }}/user/edit/{{ a.id }}/">Edit</a></td>
                        <td><a class="pure-button pure-button-primary" href="{{ path_url_postfix }}/user/{% if a.state == 0 %}disable{% else %}enable{% endif %}/{{ a.id }}/">{% if a.state == 0 %}Disable{% else %}Enable{% endif %}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}

